@import "../../styles/theme-variables.scss";

p,
h1,
h2,
h3,
h4,
h5 {
    @include themify($themes) {
        color: themed("colorText");
    }
}

svg {
    width: 16px;
    margin-right: 8px;
    path {
        @include themify($themes) {
            fill: themed("colorText");
            transition: 0.2s;
        }
    }
}

input {
    @include themify($themes) {
        background: themed("colorBackgroundInput");
        color: themed("colorText");
    }

    &::placeholder {
        @include themify($themes) {
            color: themed("colorText");
        }
    }
}

button {
    @include themify($themes) {
        background: themed("colorBackgroundHeader");
        color: themed("colorText");
    }
}

.global-theme {
    transition: 0.2s;
    min-height: 100vh;
    @include themify($themes) {
        background: themed("colorBackgroundBody");
    }
}

.content {
    padding: 20px 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);

    @include themify($themes) {
        background: themed("colorBackgroundHeader");
    }

    button {
        display: flex;
        align-items: center;

        img {
            width: 24px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 900px) {
    .content {
        padding: 20px;
    }

    .header {
        padding: 20px;
    }
}
