@import "../../styles/theme-variables.scss";

.list-countries {
    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 400px;
            border: none;
            border-radius: 5px;
            outline: none;
            padding: 15px 50px;
            box-shadow: 1px 1px 3px 0px #0000002e;
            background-image: url("../../assets/icons/search.svg");
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 20px center;
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &-select {
        position: relative;
        width: 200px;
        button {
            display: flex;
            border: 0;
            border-radius: 5px;
            outline: none;
            width: 100%;
            cursor: pointer;
            padding: 15px;

            @include themify($themes) {
                background: themed("colorBackgroundInput");
                color: themed("colorText");
                background-image: url("../../assets/icons/arrow-down.svg");
                background-size: 16px;
                background-repeat: no-repeat;
                background-position: calc(100% - 20px) center;
                box-shadow: 1px 1px 3px 0px #0000002e;
            }
        }

        ul {
            position: absolute;
            top: 40px;
            background: #ffffff;
            border-radius: 10px;
            width: 100%;
            list-style: none;
            padding: 0;

            @include themify($themes) {
                background: themed("colorBackgroundInput");
                color: themed("colorText");
            }

            li {
                padding: 8px 20px;
                cursor: pointer;

                &:first-child {
                    border-radius: 10px 10px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 10px 10px;
                }

                &:hover {
                    background: #c4c4c4;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .list-countries {
        .search {
            display: block;
            input {
                width: fill-available;
                width: -webkit-fill-available;
                width: -moz-available;
            }
        }

        &-select {
            display: block;
            margin-top: 20px;
            width: fill-available;
            width: -webkit-fill-available;
            width: -moz-available;
        }
    }
}
