body {
    background: #f2f2f2;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
}

.cards {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}
